:root {
    --main-red: #be3144;
    --main-gray: #303841;
    --main-blue: #45567d;
    --main-white: #f0f0f0;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
}

#navbar {
    width: 100%;
    background-color: var(--main-red, #be3144);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    border-bottom: 3px solid rgb(41, 41, 41);
    z-index: 1;
}

#navbar ul {
    display: flex;
    margin-right: 1rem;
}

#navbar ul li {
    padding: 1rem 2rem;
}

#navbar ul li:hover {
    background-color: #d33a4e;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-white, #f0f0f0);
    font-size: 1.4rem;
}

#welcome-section {
    width: 100%;
    height: 100vh;
    background-color: #303841;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frog {
    width: 300px;
    height: 300px;
    position: relative;
    animation: happyfrog 5s ease-out infinite;
}

.frog * {
    position: absolute;
}

.frog-head {
    width: 70%;
    height: 70%;
    background-color: rgb(68, 180, 68);
    top: 25%;
    left: 15%;
    border-radius: 30% 60% 30% 60%;
    transform: rotate(120deg);
}

.eyelid {
    width: 50%;
    height: 50%;
    background-color: rgb(68, 180, 68);
    border-radius: 50%;
}

.eyelid.left {
    top: 70%;
    left: 20%;
}

.eyelid.right {
    top: 30%;
    left: -15%;
}

.sclera {
    width: 85%;
    height: 85%;
    background-color: var(--main-white, #f0f0f0);
    border-radius: 50%;
}

.sclera.left {
    top: 5%;
    left: 7%;
}

.sclera.right {
    top: 5%;
    left: 7%;
}

.pupil {
    width: 80%;
    height: 80%;
    background-color: rgb(37, 36, 36);
    border-radius: 50%;
}

.pupil.left {
    top: 10%;
    left: 10%;
}

.pupil.right {
    top: 10%;
    left: 10%;
}

.reflection {
    width: 40%;
    height: 40%;
    background-color: var(--main-white, #f0f0f0);
    border-radius: 50%;
}

.reflection.left {
    top: 40%;
}

.reflection.right {
    top: 40%;
}

.nose {
    width: 4%;
    height: 10%;
    background-color: var(--main-gray, #303841);
    border-radius: 30%;
    transform: rotate(35deg);
}

.nose.left {
    top: 55%;
    left: 50%;
}

.nose.right {
    top: 45%;
    left: 40%;
}

.mouth {
    width: 50%;
    height: 15%;
    background-color: var(--main-gray, #303841);
    border-radius: 90% 90% 40% 40%;
    top: 25%;
    left: 45%;
    transform: rotate(45deg);
}

.lips {
    width: 100%;
    height: 90%;
    background-color: rgb(68, 180, 68);
    border-radius: 50%;
    top: 30%;
    left: -7%;
}

@keyframes happyfrog {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(24deg);
    }
}

#welcome-section h1 {
    color: var(--main-white, #f0f0f0);
    text-align: center;
    font-size: 4rem;
    margin-bottom: -1.5rem;
}

#welcome-section p {
    color: rgb(192, 97, 97);
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    margin-top: 1.5rem;
}

/* Projects Section */
.projects-section {
    background-color: var(--main-blue, #45567d);
    padding: 0 2rem 6rem 1rem;
}

.projects-section h2 {
    max-width: 640px;
    margin: 0 auto 4rem auto;
    text-align: center;
    color: var(--main-white, #f0f0f0);
    padding-top: 6rem;
    padding-bottom: 0.5rem;
    font-size: 2.5rem;
    border-bottom: 2px solid #f0f0f0;
}

.project-grid {
    width: 100%;
    max-width: 1280px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
    margin: 0 auto 4rem auto;
}

.project {
    background-color: var(--main-gray, #303841);
    box-shadow: 5px 5px rgb(32, 32, 32);
    border-radius: 4px;
}

img {
    display: block;
    border-radius: 4px;
}

.project img {
    width: 100%;
    height: calc(100% - 4rem);
    object-fit: cover;
}

.project p {
    padding-top: 1rem;
    text-align: center;
}

.project p:hover::before {
    content: "< ";
    color: orangered;
}

.project p:hover::after {
    content: " />";
    color: orangered;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn-show-all {
    background-color: #303841;
    padding: 0.7rem 1.2rem;
    border-radius: 4px;
    /* Investigar */
    transition: background-color 0.3s ease-out;
}

.btn-show-all:hover {
    background-color: var(--main-red, #be3144);
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 90vh;
    background-color: var(--main-gray, #303841);
}

#contact .contact-header {
    color: var(--main-white, #f0f0f0);
}

#contact h2 {
    font-size: 5rem;
    padding-bottom: 1rem;
}

#contact p {
    font-size: 1.5rem;
    font-style: italic;
    padding-bottom: 4rem;
}

.contact-link #profile-link {
    margin-right: 1rem;
    text-shadow: 3px 3px rgb(32, 32, 32);
    font-size: 1.5rem;
}

footer {
    border-top: 3px solid var(--main-red, #be3144);
    padding: 2rem;
    background-color: #303841;
    display: flex;
    justify-content: space-evenly;
}

footer p {
    font-size: 1.2rem;
    color: rgb(223, 222, 222);
}

@media only screen and (max-width: 600px) {
    .project-grid {
        display: grid;
        grid-template-columns: auto auto;
    }

    .project p {
        font-size: 1.1rem;
    }
}